:root{
	--light-blue:#74BBE4;
	--dark-blue:#4E86A7;

	--light-green:#C9E24D;
	--dark-green:#9CAF3B;

	--light-red:#F55D3E;
	--dark-red:#CE4D32;
	--error-red:#D8000C;

	--light-grey:#EFEFEF;
	--medium-grey:#7C7C7C;
	--dark-grey:#484848;

	--main-font:'Roboto', sans-serif;
	--title-font: 'Roboto Slab', serif;
}
@keyframes pulse{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}
body{
	font-family:var(--main-font);
	color:var(--dark-grey);
}

/*header*/
.myNav{
	height:100px;
	background-color: var(--light-blue);
	font-size:22px;
	font-weight: bold;
	padding-left:50px;
	padding-right:50px;
}

.myNav a{
	color:white;
}

.myNav .logoNav{
	height:60px;
}

.logoMobile{
	width:80%;
}

.menuIcon{
	height: 100%;
}

.navbar-toggler{
	width: 20%;
	font-size: 30px;
}

/* all pages */
.myContainer{
	padding: 0;
}

.title{
	font-family: var(--title-font);
	font-weight: bold;
	font-size: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.myButton{
	color: white;
	font-weight:bold;
	border-style: solid;
	border-color:white;
	border-width: 2px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
}

.buttonSticker{
	border-style: solid;
	border-color: white;
	border-radius: 50%;
	border-width: 2px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
}

/* project thumbnail */
.projectThumbnail{
	background-color:var(--light-grey);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
	margin-bottom: 50px;
}

.crossSticker{
	position: absolute;
	height: 40px;
	width: 40px;
	background-color: var(--light-red);
	color: white;
	font-weight: bold;
	right: 0%;
	top: -2%;
	font-size: 20px;
}

.crossSticker:focus{
	outline: none;
}


.thumbnailImageBox{
	height:200px;
	width:100%;
}

.thumbnailImage{
	object-fit: cover;
	height: 100%;
	width:100%;
}

.thumbnailTitle{
	margin-top:10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 20px;
}

.progress{ /*is a bootstrap style*/
	border-style: solid;
	border-width:2px;
	border-color:white;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
	border-radius: 20px;
	margin-bottom: 10px;
	background-color: white;

}

.progress-bar{ /*is a bootstrap style*/
	width:50%;
	background-color: var(--light-green);
	border-radius: 20px;
}

.thumbnailPercentage{
	font-weight: bold;
	font-size: 15px;
}

.thumbnailText{
	color:var(--medium-grey);
	font-size: 15px;
	margin-bottom: 10px;
}

.thumbnailButtonBox{
	height: 10px;
}

.thumbnailLink{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.thumbnailButton{
	background-color: var(--light-red);
	border-top-right-radius: 23px;
	border-bottom-left-radius: 23px;
	position: relative;
}

.buttonHeart{
	background-color: var(--dark-red);
	height: 26px;
	width: 26px;
	padding: 5px;
	position: absolute;
	top: -25%;
	right: -5%;
}

.buttonHeart img{
	height: 100%
}

/* index */
.indexBg{
	background-color: var(--light-grey);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
}

.indexTitle{
	font-family: var(--title-font);
	font-weight: bold;
	font-size: 35px;
	padding-top: 70px;
	padding-bottom: 30px;
}

.indexText b{
	font-weight: bold;
	color: var(--dark-red);
}

.indexImg{
	margin-top:20px;
	width:40%;
}

.indexButtonArea{
	margin-top: 30px;
	margin-bottom: 70px;

}

.indexButtonLeft{
	background-color: var(--light-green);
	border-top-right-radius: 23px;
	border-bottom-left-radius: 23px;
}

.indexButtonRight{
	background-color: var(--light-green);
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
}

.indexProjects{
	margin-left: 70px;
	margin-right:70px;
}

.indexButtonGallery{
	background-color: var(--light-blue);
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
	margin-top:50px;
	margin-bottom: 100px;
	position: relative;
}

.buttonArrow{
	background-color: var(--dark-blue);
	height: 32px;
	width: 32px;
	padding: 6px;
	position: absolute;
	top: 25%;
	right: -5%;

}

.buttonArrow img{
	height: 100%;
}

/* projects-gallery */
.galleryProjects{
	margin-left: 70px;
	margin-right:70px;
}

.selectButton{
	background-color: var(--dark-grey);
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
	font-size: 20px;
}

.selectGallery{
	color: white;
	border: none;
	background: none;
}
.selectGallery option{
	font-family: var(--main-font);
	color: white;
	border: none;
	background:var(--dark-grey) ;
}

/* profile */
.deleteButtonLeft{
	background-color: var(--light-green);
	border-top-right-radius: 23px;
	border-bottom-left-radius: 23px;
}

.deleteButtonRight{
	background-color: var(--medium-grey);
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
}


.profileProjects{
	margin-left: 70px;
	margin-right:70px;
	margin-bottom: 50px;
}

.profileLegend{
	color:var(--medium-grey);
	font-size: 20px;
	margin-bottom: 30px;
}

/* about us */
.aboutUs{
	margin-left: 70px;
	margin-right:70px;
}

.aboutUsImage{
	width: 450px;
}

.aboutUsButtonArea{
	margin-top: 50px;
	margin-bottom: 100px;

}

/* project */
.projectBg{
	background-color: var(--light-grey);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
}

.projectContent{
	padding: 70px;
}

.projectImage{
	/*padding: 10px*/
}

.projectTitle{
	font-size: 30px;
	font-weight: bold;
}

.projectDate{
	font-size:15px;
	color:var(--medium-grey);
}
.projectProgress{
	margin-top: 25px;
	height: 25px;
}

.projectPercentage{
	font-weight: bold;
}

.projectDescription{
	margin-top: 25px;
	color:var(--medium-grey);
}

.projectButtonBox{
	margin-top: 25px;
	height: 10px;
}

.projectButton{
	background-color: var(--light-red);
	border-top-right-radius: 23px;
	border-bottom-left-radius: 23px;
	position: relative;
	margin:0px;
	font-size: 25px; 
}

.projectButtonHeart{
	background-color: var(--dark-red);
	height: 35px;
	width: 35px;
	padding: 7px;
	position: absolute;
	top: -25%;
	right: -5%;
}

.projectButtonHeart img{
	height: 100%
}

.suggestions{
	margin-left: 70px;
	margin-right:70px;
	margin-bottom: 70px;
}

.suggestionsTitle{
	color: var(--medium-grey);
	margin-top: 50px;
	margin-bottom: 50px;
	font-size:20px;
}

/* project creation */
.creationContainer{
	margin-left: 70px;
	margin-right: 70px;
}

.stepSticker{
	height: 40px;
	width: 40px;
	background-color: var(--dark-green);
	color: white;
	font-weight: bold;
}

.stepText{
	color: var(--medium-grey);
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

label{
	height: 200px;
}

label:hover{
	cursor: pointer;
}

[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

[type=radio] + img {
	cursor: pointer;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

[type=radio]:checked + img {
	outline: 2px solid var(--light-blue);
}

.MultiCarousel {
	float: left; 
	overflow: hidden;
	width: 100%; 
	position:relative; 
	margin-bottom: 50px;
}

.MultiCarousel .MultiCarousel-inner { 
	transition: 1s ease all; 
	float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
	float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div { 
	text-align: center; padding:10px; margin:10px; 
	border-radius: 5px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
	background:var(--light-grey); 
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
	position:absolute; 
	top:35%; 
}

.MultiCarousel .leftLst img, .MultiCarousel .rightLst img { 
	height: 40px;
}

.MultiCarousel .leftLst { 
	left:0; 
}

.MultiCarousel .rightLst { 
	right:0; 
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
	pointer-events: none;
}

.btn:focus {
	box-shadow: none;
}

.supportName{
	font-weight: bold;
}

.uploadButton{
	background-color: var(--dark-grey);
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
	margin-top:20px;
	margin-bottom: 70px;
	position: relative;
	font-size: 20px;
}

.uploadSticker{
	background-color: var(--medium-grey);
	height: 32px;
	width: 32px;
	padding: 6px;
	position: absolute;
	top: -25%;
	right: -7%;
}

.uploadSticker img{
	height: 100%;
}

.inputProjectTitle{
	color:var(--dark-grey);
	border:1px solid var(--medium-grey);
	border-radius: 15px;
	width: 500px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 5px;
}

.inputProjectTitle:focus{
	outline: none;
}

.inputProjectDescription{
	color:var(--dark-grey);
	border:1px solid var(--medium-grey);
	border-radius: 15px;
	width: 500px;
	height:150px;
	margin-top: 5px;
	margin-bottom: 50px;
	padding: 5px;
}

.inputProjectDescription:focus{
	outline: none;
}

.projectSubmitButton{
	background-color: var(--light-green);
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
	margin-top:20px;
	margin-bottom: 70px;
	position: relative;
	font-size: 20px;
}

/* login */
.loginTitle{
	margin-left: 70px;
}

.loginContainer{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 70px;
	background-color: var(--light-grey);
}
.topButtonArea{
	margin-bottom: 20px;
}

.loginButtonLeft{
	background-color: var(--medium-grey);
	border-top-right-radius: 23px;
	border-bottom-left-radius: 23px;
	font-size: 20px;
}

.loginButtonRight{
	background-color: var(--dark-grey);
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
	font-size: 20px;
}

.inputLogin{
	color:var(--dark-grey);
	border:1px solid var(--medium-grey);
	border-radius: 15px;
	width: 500px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 5px;
}

.inputLogin:focus{
	outline: none;
}

.loginButton{
	background-color: var(--dark-grey);
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
	margin-top:20px;
	position: relative;
	font-size: 20px;
}

/* register */
.registerButtonLeft{
	background-color: var(--dark-grey);
	border-top-right-radius: 23px;
	border-bottom-left-radius: 23px;
	font-size: 20px;
}

.registerButtonRight{
	background-color: var(--medium-grey);
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
	font-size: 20px;
}

/* Modal */
.myModal{
	margin-top: 30vh;
}

.myModal .modal-content{
	background-color: var(--light-grey);
}

.voteButtonLeft{
	background-color: var(--light-blue);
	border-top-right-radius: 23px;
	border-bottom-left-radius: 23px;
}

.voteButtonRight{
	background-color: var(--dark-grey);
	border-top-left-radius: 23px;
	border-bottom-right-radius: 23px;
}
.errorFormProject{
	background-color: var(--error-red);
	animation: pulse 1s linear infinite;
	margin-bottom : 20px;
}
.errorFormProjectMessage{
	color: var(--error-red);
}
/* Responsive */
@media (max-width: 768px) {
	/* menu */
	.myNav{
		padding-left: 20px;
		padding-right: 20px;
		height: auto;
	}

	/* index */
	.indexBg{
		padding-right: 10px;
		padding-left:10px;
	}

	.indexTitle{
		font-size: 20px;
	}

	.indexButtonLeft{
		width: 70%;
	}

	.indexButtonRight{
		margin-top: 10px;
		width: 70%;
	}

	.indexProjects {
		margin-left: 20px;
		margin-right: 20px;
	}

	.buttonArrow{
		top: 58%
	}

	/* projects gallery */
	.galleryProjects {
		margin-left: 20px;
		margin-right: 20px;
	}

	/* profile */
	.profileProjects {
		margin-left: 20px;
		margin-right: 20px;
	}

	/* project creation */
	.creationContainer {
		margin-left: 20px;
		margin-right: 20px;
	}

	.inputProjectTitle{
		width:100%;
	}

	.inputProjectDescription{
		width:100%;
	}

	/* about us */
	.aboutUs {
		margin-left: 20px;
		margin-right: 20px;
	}
	.aboutUsImage{
		width: 100%;
		margin-top: 10px;
	}

	/* project */
	.suggestions{
		margin-left: 20px;
		margin-right: 20px;
	}

	.projectContent{
		padding-right: 20px;
		padding-left: 20px;
	}

	.voteButtonLeft{
		width: 60%;
		font-size: 15px;
	}

	.voteButtonRight{
		width: 60%;
		font-size: 15px;
		margin-top: 10px;
	}

	/* register + login*/
	.loginTitle {
		margin-left: 20px;
	}
	
	.loginContainer{
		margin-left: 20px;
		margin-right:20px;
		padding: 20px;
	}

	.inputLogin{
		width: 100%;
	}

	.loginButtonLeft, .loginButtonRight, .registerButtonRight, .registerButtonLeft{
		width: 60%;
		font-size: 15px;
	}

	.loginButtonRight, .registerButtonRight{
		margin-top: 10px;
	}

	.loginButton{
		font-size: 15px;
	}
}